<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Profil</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="../css/svgicons.css" rel="stylesheet">
         <link href="../css/connexionPage.css" rel="stylesheet">
         <link href="../css/sb-admin-2.min.css" rel="stylesheet">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>
        <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src='../JS/controller/connexionController.js'></script>
        <script src='../JS/sb-admin-2.min.js'></script>

    </head>
    <body>
        <div id="body">
            <!-- Navigation -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
              <div class="container-fluid">
                <!-- Logo -->
                <a href="/ProjetJ2EE2019"><img class="navbar-brand" src="../images/logo.png" /></a>
                <!-- Recherche -->
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
                </form>
                <!-- user -->
                <div class="nav-item">
                  <a href="#" class="navbar-icon-link">
                    <svg class="svg-icon" viewBox="0 0 20 20">
                      <path d="M12.075,10.812c1.358-0.853,2.242-2.507,2.242-4.037c0-2.181-1.795-4.618-4.198-4.618S5.921,4.594,5.921,6.775c0,1.53,0.884,3.185,2.242,4.037c-3.222,0.865-5.6,3.807-5.6,7.298c0,0.23,0.189,0.42,0.42,0.42h14.273c0.23,0,0.42-0.189,0.42-0.42C17.676,14.619,15.297,11.677,12.075,10.812 M6.761,6.775c0-2.162,1.773-3.778,3.358-3.778s3.359,1.616,3.359,3.778c0,2.162-1.774,3.778-3.359,3.778S6.761,8.937,6.761,6.775 M3.415,17.69c0.218-3.51,3.142-6.297,6.704-6.297c3.562,0,6.486,2.787,6.705,6.297H3.415z"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </nav>
            <div class="container" id="pageContent">
            </div>
        </div>
         <!-- Block formulaire de connexion -->
    <script id="templateFormConnexion" type="text/template">
        <div class="row formconnexion">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
              <div class="card card-signin my-5">
                <div class="card-body">
                  <h5 class="card-title text-center">Sign In</h5>
                  <form class="form-signin" id="connexion">
                    <div class="form-label-group">
                      <input  id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                      <label for="inputEmail">Email address</label>
                    </div>

                    <div class="form-label-group">
                      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                      <label for="inputPassword">Password</label>
                    </div>

                    <div class="custom-control custom-checkbox mb-3">
                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                      <label class="custom-control-label" for="customCheck1">Remember password</label>
                    </div>
                      <input class="action d-none" value="connexion">
                    <button  class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                   </form>
                </div>
              </div>
            </div>
          </div>
    </script>
    
 <!--Block profil user-->
    <script id="templateWelcome" type="text/template">
        <div class="row">
            
        </div>
        <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/ProjetJ2EE2019">
      <img class="navbar-brand" src="../images/logo.png" />
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="#" id="profilInformation" onclick="afficheInformationUser()" >
          <span>Mes informations</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">
        <li class="nav-item">
            <a class="nav-link" href="#">
             <span>Bon de commande</span></a>
         </li>
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="#" onclick="deconnexionClient()">Se déconnecter</a></li>
            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link" href="#">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                Bonjour {{#user}}{{contact}}{{/user}} 
            </span>
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
              </a>
            </li>
          </ul>
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Votre espace client</h1>
          </div>
          <!-- Content Row -->
          <div class="row" id="pageContentProfil"></div>
          
        </div>
    </div>
         </div>
         </div>
         </div>
         
    </script>
         
     <!-- Block formulaire de info perso -->
    <script id="templateFormInfoUser" type="text/template">
          <form>
            {{#user}}
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Nom</label>
                    <input class="form-control" id="inputEmail4" placeholder="{{contact}}">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">Code</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="{{code}}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputAddress">Adresse</label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="{{adresse}}">
                </div>
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="inputCity">Ville</label>
                    <input type="text" class="form-control" id="inputCity" placeholder="{{ville}}">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputRegion">Region</label>
                    <input type="text" class="form-control" id="inputRegion" placeholder="{{region}}">
                  </div>
                  <div class="form-group col-md-2">
                    <label for="inputCp">Cp</label>
                    <input type="text" class="form-control" id="inputCp" placeholder="{{code_postal}}">
                  </div>
                  <div class="form-group col-md-2">
                    <label for="inputPays">Pays</label>
                    <input type="text" class="form-control" id="inputPays" placeholder="{{pays}}">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputTel">Téléphone</label>
                    <input type="number" class="form-control" id="inputTel" placeholder="{{telephone}}">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputFax">Fax</label>
                    <input type="text" class="form-control" id="inputFax" placeholder="{{fax}}">
                  </div>
                </div>  
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputSociete">Société</label>
                    <input type="text" class="form-control" id="inputSociete" placeholder="{{societe}}">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputFonction">Fonction</label>
                    <input type="text" class="form-control" id="inputFonction" placeholder="{{fonction}}">
                  </div>
                </div>  
                {{/user}}
                <button type="submit" class="btn btn-primary">Modifier</button>
            </form>
        </script>
    </body>
</html>
