body {
  padding-top: 56px;
}
img.navbar-brand{
  width: 5%;
}
nav .dropleft .dropdown-toggle::before{
  display: none;
}

.row.menuCat div.col-1{
    border: 1px solid black;
}

.cart-total {
 display:-ms-flexbox;
 display:flex;
 -ms-flex-pack:justify;
 justify-content:space-between;
 padding:0.7rem 1rem;
 font-size:.7875rem;
 border-top:1px solid #e9ecef;
 border-bottom:1px solid #e9ecef;
 margin-top:.5rem;
 margin-bottom:.5rem
}


@media (min-width: 992px) {
  img.navbar-brand{
    width: 3%;
  }
}

