body {
  padding-top: 56px;
}
img.navbar-brand{
  width: 5%;
}
nav .dropleft .dropdown-toggle::before{
  display: none;
}

.menuCat.navbar{
    top : auto;
    padding-left: 3%;
    padding-right: 3%;
}
#displayMenu div.col a:hover{
    color: rgb(104,189,13);
    text-decoration: none;
}
#displayMenu div.col a{
    color: black;
    text-decoration: none;
}
.font-italic{
    font-size: x-small;
    color:green;
    padding-top: 5px;
}
.fa.fa-times:hover{
    color:red;
}
.container.pageContent{
    padding-top: 7%;
}
.cart-total {
 display:-ms-flexbox;
 display:flex;
 -ms-flex-pack:justify;
 justify-content:space-between;
 padding:0.7rem 1rem;
 font-size:.7875rem;
 border-top:1px solid #e9ecef;
 border-bottom:1px solid #e9ecef;
 margin-top:.5rem;
 margin-bottom:.5rem
}
.dialogstyleperso{
    border-radius: 10px;
    border: 1px #212529 solid;
    padding: 10px;
    background: #f8f9fa;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, .2);
}
.dialogstyleperso .btn.btn-dark{
    margin-right: 10px;
}
.navbar-cart-product-wrapper{
    min-width: 270px;
}
.navbar-cart-product {
 padding-top:.6rem;
 padding-bottom:.6rem;
 border-bottom:1px solid #e9ecef;
}
.dropdown-menu-right {
 right:0;
 left:auto;
}
@media (max-width: 992px) {
    .dropdown-menu{
          height:400px;
          overflow-y:auto;
       }
    }
@media (min-width: 992px) {
  img.navbar-brand{
    width: 3%;
  }
}
@media (max-width: 408px ) {
    .dropdown-menu-right {
        right:auto;
    }
}
@media (max-width: 327px ) {
    .dropdown-menu-right {
        right:-136px;
    }
}

