/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 2em;
  height: 2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: rgb(104,189,13);
}

.svg-icon circle {
  stroke: rgb(104,189,13);
  stroke-width: 1;
}
.fas.fa-trash-alt{
    color:red;
}
h2 .fas.fa-angle-right{
    color: #8ac23f;
}